extends layouts/default.jade
block content
    #game

    //- Socket.io
    script(src="/socket.io/socket.io.js")

    //- Melon
    script(src="/js/vendor/melonJS-0.9.11.js")
    script(src="/js/vendor/melonJS.debugPanel.js")

    //- Game
    script(src="js/app.js")
    script(src="js/entities/character.js")
    script(src="js/entities/player.js")