// Variables
@bradius        : 3px;
@mainBackground : #fff;
@gameBackground : #eee;

// Desktop sizes
@desktopWidth: 800px;
@desktopHeight: 600px;

// Mixins
.round {
	border-radius         : @bradius;
	-moz-border-radius    : @bradius;
	-webkit-border-radius : @bradius;
}

// Style
body {
	background: @mainBackground;
}

.login {
	width  : 500px;
	margin : 10% auto;

	h1{
		font-size: 24px;
		margin-top: 10px;
	}
}

#game {
	width      : 100%;
	background : @gameBackground;

	canvas {
		.round;
	}
}

@media only screen and (min-width: 1024px) {
	#game {
		width: @desktopWidth;
		height: @desktopHeight;
		margin: 0 auto;
		.round;
	}
}

@media only screen and (max-width: 480px) {
	.login{
		width: 95%;
	}
}

@media only screen and (max-width: 600px) {
	.login {
		margin: 3% auto;
	}
}