extends layouts/default.jade
block content
    #container
      #game
      //- .chat
      //-   .messages
      //-   form#chat-form(name='chat-form', onsubmit="return game.sendMessage();", action="#")
      //-     input#chat-text.form-control(type='text')
      //-     button.btn.btn-primary(type='submit') Send

    //- Socket.io
    script(src="/socket.io/socket.io.js")

    //- Phaser
    script(src="/js/vendor/phaser.js")

    //- CocoonJS
    script(src="/js/vendor/cocoonjs.js")

    //- Utils
    script(src="/js/utils/math.js")
    script(src="/js/utils/xmlParser.js")
    script(src="/js/utils/canvasinput.js")

    //- Game
    script(src="/js/app.js")

    //- Scenes
    script(src="/js/scenes/login.js")

    //- Entities
    script(src="/js/entities/character.js")
    script(src="/js/entities/player.js")